<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnerFlow.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EnerFlow;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>